<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Succes</title>
</head>

<body>
    <video src="images/sucss.mp4" alt="" class="center-img" draggable="false" controls="controls"></video>



    <style>


        .center-img {
            width: 70%;
            height: 70%;
            
            display: block;
            margin: 0 auto;
            align-content: center;
            display: block;
            text-align: center;
            font-style: italic;
            margin-top: 0;
            margin-bottom: 50%;
            margin-top: 10%;
        }

        }

    </style>



</body>

</html>






<!--https://www.canva.com/design/DAE1tCGAjcg/ZJrREAC56xBnONlBq4bNEg/edit    основной шаблон-->