<!DOCTYPE html>

<html lang="en-US" class=" js rgba multiplebgs backgroundsize borderradius boxshadow textshadow opacity cssanimations csstransforms csstransforms3d csstransitions fontface js rgba multiplebgs backgroundsize borderradius boxshadow textshadow opacity cssanimations csstransforms csstransforms3d csstransitions fontface" style="height: auto;">

<head>




    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>catalog</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--    <link rel="shortcut icon" href="file:///C:/Users/Toxa/Desktop/Project(X)/themeforest-11399294-make-multipurpose-onemultipage-theme/common-files/images/favicon.png" type="image/png">-->

    <link rel="stylesheet" href="./katalogis_files/style.min.css">
    <link rel="stylesheet" id="scheme-source" href="./katalogis_files/gray.css">
    <link rel="stylesheet" href="./katalogis_files/owl.carousel.min.css">

    <style id="fit-vids-style">
        .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
        }

        .fluid-width-video-wrapper iframe,
        .fluid-width-video-wrapper object,
        .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    </style>
</head>

<body>








    <div class="loader-overlay loaded">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <div class="topnav fixed-topnav topnav-top transparent">
        <form action="file:///C:/Users/Toxa/Desktop/Project(X)/themeforest-11399294-make-multipurpose-onemultipage-theme/pages/blog/blog-masonry-3-columns.html#" class="form-search" method="get" role="form">
            <div class="container">
                <div class="search-inner clearfix">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Search" name="s" class="search-input placeholder" autocomplete="off">
                    <input type="submit" value="Search">
                    <div class="search-close">
                        <a href="file:///C:/Users/Toxa/Desktop/Project(X)/themeforest-11399294-make-multipurpose-onemultipage-theme/pages/blog/blog-masonry-3-columns.html#"><i class="line-icon-close"></i></a>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <header class="center header-sm bg-dark" data-img="bg/smoke2.png" style="background-image: url(&quot;../../common-files/images/bg/smoke2.png&quot;);">
        <div class="container fade-text" style="opacity: 1;">
            <div class="top-text">
                <h1 class="header-title text-left" style="font-family: Times New Roman ;text-align: center;align-content: center">Афиша Кемерово</h1>
                <p class="header-message" style="text-align: left; "> Мы работаем чтобы вы отдыхали!</p>
            </div>
        </div>
    </header>

    <section class="section-blog blog-list blog-grid clearfix bg-gray-light" style="opacity: 1;">







        <div class="container">






            <div class="row">
                <div class="col-md-12">


                    <div class="row blog-masonry clearfix" style="position: relative; height: 1526.59px;">
                        <div class="col-md-4 col-sm-6" style="position: absolute; left: 0px; top: 0px;">
                            <div class="post">
                                <div class="post-thumbnail">
                                    <figure>
                                        <img src="./katalogis_files/13.jpg" alt="post 13">
                                    </figure>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/koncert/yan-maksin#880206" style="color: red">ЯН МАКСИН</a></h2>

                                    <div class="post-excerpt">
                                        <p>РОССИЙСКИЙ КОНЦЕРТНЫЙ ТУР ЯНА МАКСИНА продолжается! В этот раз гастроли музыканта приурочены к выходу долгожданного нового альбома, на котором записаны как инструментальные композиции, так и авторские песни на русском и английском языках. В рамках осеннего тура Ян выступит в сопровождении российского состава международного проекта ZARIA более, чем в тридцати городах России - от Москвы до Дальнего Востока. ЧЕЛОВЕК-ОРКЕСТР: В своем творчестве Ян ломает все музыкальные и </p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                            <div class="post">
                                <div class="post-thumbnail">
                                    <a>
                                        <figure>
                                            <img src="./katalogis_files/1.jpg" alt="post 1">
                                        </figure>
                                    </a>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/koncert/stand-up-andrey-beburishvili-3#934845" style="color: red">СОЛЬНЫЙ STANDUP КОНЦЕРТ</a></h2>

                                    <div class="post-excerpt">
                                        <p>Андрей Бебуришвили впервые с сольным концертом в Кемерово

                                            Легко и иронично о насущном и обыденном. Простые на первый взгляд шутки Андрея Бебуришвили скрывают в себе лаконичный подтекст, поэтому его выступления спокойны, размеренны, что даст вам расслабиться и посмеяться без лишних раздумий.</p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                            <div class="post">
                                <div class="post-thumbnail">
                                    <figure>
                                        <img src="./katalogis_files/12.jpg" alt="post 12">
                                    </figure>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/koncert/legendyi-via-70-80-h-myi-iz-sssr#975181" style="color: red">ЛЕГЕНДЫ ВИА 70-80-Х</a></h2>

                                    <div class="post-excerpt">
                                        <p>Творческий коллектив и программа были созданы в 2004 году. Первые концерты прошли в Австралии в городах Мельбурне и Сиднее, которые произвели фурор среди бывших эмигрантов из СССР. В настоящее время коллектив «Легенды ВИА 70-80-90-х» успешно, с аншлагами гастролирует по необъятным просторам бывшего СССР и зарубежья.</p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6" style="position: absolute; left: 390px; top: 0px;">
                            <div class="post">
                                <div class="post-thumbnail">
                                    <a>
                                        <figure>
                                            <img src="./katalogis_files/14.jpg" alt="post 14">
                                        </figure>
                                    </a>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/teatr/notr-dam-de-pari-romeo-i-djuletta-2#910773" style="color: red">«НОТР ДАМ ДЕ ПАРИ».</a></h2>

                                    <div class="post-excerpt">
                                        <p>«Я душу дьяволу продам за ночь с тобой» - и можно больше ничего не говорить. За последние 10 лет эта фраза стала культовой. Она олицетворяет собой целый период в истории современной российской культуры: эпоху музыкального театра, эпоху мюзикла. Жанр мюзикла уверенно завоевывает популярность в России. Москва и Санкт-Петербург становятся «русским Бродвеем» - в обеих столицах сейчас идут около десятка громких проектов.</p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                            <div class="post">
                                <div class="post-thumbnail video">

                                </div>

                            </div>
                            <div class="post">
                                <div class="post-thumbnail">
                                    <a>
                                        <figure>
                                            <img src="./katalogis_files/3.jpg" alt="post 3">
                                        </figure>
                                    </a>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/teatr/myuzikl-rok-mirovaya-premera" style="color: red">МЮЗИКЛ "РОК". </a></h2>

                                    <div class="post-excerpt">
                                        <p>мюзикл «Рок» знаменитого композитора и продюсера Кима Брейтбурга, чьи произведения с успехом идут на многих театральных сценах нашей страны и за рубежом. </p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4 col-sm-6" style="position: absolute; left: 780px; top: 0px;">
                            <div class="post">
                                <div class="post-thumbnail">
                                    <a>
                                        <figure>
                                            <img src="./katalogis_files/5.jpg" alt="post 5">
                                        </figure>
                                    </a>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/koncert/slava#910734" style="color: red">
                                            СЛАВА</a></h2>

                                    <div class="post-excerpt">
                                        <p>Высокая брюнетка с проникновенными глазами и ярко выраженной харизмой, певица...</p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                            <div class="post">
                                <div class="post-thumbnail">
                                    <a>
                                        <figure>
                                            <img src="./katalogis_files/6.jpg" alt="post 6">
                                        </figure>
                                    </a>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/koncert/hammali--navai-1#911667" style="color: red">
                                            HAMMALI & NAVAI</a></h2>

                                    <div class="post-excerpt">
                                        <p>HammAli & Navai – пожалуй, самая успешная группа страны. Мощно стартовав...</p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                            <div class="post">
                                <div class="post-thumbnail">
                                    <figure>
                                        <img src="./katalogis_files/11.jpg" alt="post 11">
                                    </figure>
                                </div>
                                <div class="post-text">
                                    <h2 class="post-title"><a href="https://kemerovo.kassir.ru/koncert/jony-12" style="color: red">
                                            JONY</a></h2>

                                    <div class="post-excerpt">
                                        <p>Большой концерт JONY в Кемерово!

                                            Один из ярчайших представителей современной поп-музыки, обладатель звания «Лучший артист» премии «Новое Радио Awards 2021».</p>
                                    </div>
                                    <div class="post-more">
                                        <button onclick="face()" style="background-color: rgb(50, 50, 50); color: white; border-radius: 10px; width: 50pt">BUY</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </section>






    <script src="js/canseption.js">
        history.pushState(null, null, location.href);
        window.onpopstate = function(event) {
            history.go(1);
        };

    </script>
    <script src="./katalogis_files/jquery-1.11.1.min.js.Без названия"></script>
    <script src="./katalogis_files/bootstrap.min.js.Без названия"></script>
    <script src="./katalogis_files/modernizr.js.Без названия"></script>
    <script src="./katalogis_files/retina.min.js.Без названия"></script>
    <script src="./katalogis_files/jquery.appear.min.js.Без названия"></script>
    <script src="./katalogis_files/smoothscroll.min.js.Без названия"></script>
    <script src="./katalogis_files/jquery.smartmenus.min.js.Без названия"></script>

    <script src="./katalogis_files/owl.carousel.min.js.Без названия"></script>
    <script src="./katalogis_files/jquery.fitvids.js.Без названия"></script>
    <script src="./katalogis_files/isotope.pkgd.min.js.Без названия"></script>

    <script src="./katalogis_files/application.js.Без названия"></script>


</body>



</html>
