<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Succes</title>
</head>

<body>

    <img src="images/bg.png" alt="" class="center-img" draggable="false">





    <style>
        body {
            background-image: url("images/bg.jpg")
        }

        .center-img {
            width: 70%;
            height: 70%;

            display: block;
            margin: 0 auto;
            align-content: center;
            display: block;
            text-align: center;
            font-style: italic;
            margin-top: 0;
            margin-bottom: 5px;
        }

        }

    </style>



</body>

</html>
